*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body{
	font-family: 'Dosis', sans-serif;
	background-color: #3bc7ff21;
}	

.outer{
	width: 100%;
	height: 100vh;
    background-image:url(image/pic1.avif);
    opacity: 0.7;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    position: relative;
}

.header{
	width: 100%;
	height: 600px;
}

.logo{
	width: 50%;
	height: 100px;
	float: left;
	color: white;

}


.menu{
	width: 50%;
	float: left;
	height: 100px;
	float: left;
	font-size: 25px;
	color: white;
	text-align: right;
}

.menu a {
	color: white;
	text-decoration: none;
	padding: 20px;
	margin-top: 20px;
}

.banner{
	width:30%;
	height: 100px;
	padding: 250px;
	color: white;
	float: right;
	margin-right: 300px;
    margin-top: -100px;
    font-size: 25px;
}


.about{
	width: 100%;
	height: 700px;
    background-color: #eaeaea;
}

.container{
	width: 100%;
	height: 300px;
}

.left_container{
    width: 50%;
    height: 200px;
    float: left;
    padding-left: 420px;
    padding-top: 50px;
}

.img{
	border: 2px solid black;
}

.right_container{
	width: 50%;
	height: 200px;
	float: left;
	font-size: 25px;
	padding-top: 70px;
	padiing-right: 50px;
}



.work{
	width: 100%;
	height: 700px;
	padding-left:80px;
	padding-top: 50px;
	text-align: center;
}
.skills{
	margin-left: 40%;


}

.contact{
	width: 100%;
	height: 400px;
	padding-left: 80px;
	padding-top: 20px;
	text-align: center;

}

.footer{
	width: 100%;
	height: 100px;
	background-color: black ;
	text-align: center;
	color: white;
	padding-top: 30px;
}


@media screen and (min-width: 320px) and (max-width: 500px) {


.outer {
    width: 100%;
    height: 50vh;
    float: left;
    /* border: 4px solid green; */
    background-image:url(image/pic1.avif);
    opacity: 0.7;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
}


.menu{
	width: 50%;
	float: left;
	height: 100px;
	float: left;
	color: white;
	text-align: right;
}

 .banner{
 	width: 30%;
 	margin-right: -50px;
    margin-top: -100px;
 }

 .about {
    width: 100%;
    padding-bottom: 30px;
     background-color: #eaeaea;
}    

.container{
   width: 100%;
}

.left_container {
    width: 100%;
    height: 200px;
    <img src="image/pic3.jpg width: 200px;">
    padding-left: 10px;
    padding-top: 50px;
   
}

.right_container {
    width: 100%;
    height: 370px;
    float: left;
	padding-top: 70px;
	padding-left: 0px;
}
  
.skills{
	margin-left: 0px;
}


.work {
    width: 100%;
    height: 300px;
    padding-left:0px;
	padding-top: 50px;
	text-align: center;
}


.contact{
	width: 100%;
	height: 200px;
	padding-left: 10px;
	padding-top: 20px;
	text-align: center;
}
}

/*@media screen and (min-width: 501px) and (max-width: 1000px){}*/
	