*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.body{
	font-family: 'Dosis', sans-serif;
	background-color: #3bc7ff21;
}	

.outer{
	width: 100%;
	height: 100vh;
    background-image:url(image/pic1.avif);
    opacity: 0.7;
    background-position: center;
    background-position: cover;
}

.header{
	width: 100%;
	height: 600px;
}

.logo{
	width: 50%;
	height: 100px;
	float: left;
	color: white;
	font-family: cursive;
}

.menu{
	width: 50%;
	float: left;
	height: 100px;
	float: left;
	font-size: 25px;
	color: white;
	text-align: right;
	font-family: cursive;
}
.menu a {
	color: white;
	text-decoration: none;
	padding: 20px;
	margin-top: 20px;
}

.banner{
	width:30%;
	height: 100px;
	padding: 250px;
	color: white;
}


.about{
	width: 100%;
	height: 700px;
    background-color: #eaeaea;
}

.container{
	width: 100%;
	height: 300px;
}

.left_container{
    width: 50%;
    height: 200px;
    float: left;
    padding-left: 350px;
    padding-top: 50px;
}

.img{
	border: 2px solid black;
}

.right_container{
	width: 50%;
	height: 200px;
	float: left;
	font-size: 25px;
	padding-top: 70px;
	padiing-left: -100px;
}

.skills{
	margin-left: 50px;
}

.work{
	width: 100%;
	height: 700px;
	padding-left:80px;
	padding-top: 50px;
}

.contact{
	width: 100%;
	height: 500px;
	padding-left: 80px;
	padding-top: 20px;

}

.me{
	text-align: center;
}
